extends ../index

block content
  if Object.keys(botmasters).length == 0
    h4(style="text-align: center") ...

  each role in botmasters
    - let color = '#' + (role.color == 0 ? 16777215 : role.color).toString(16)
    .outline(
      role="button"
      style=`text-overflow: ellipsis; color:${color} !important; border-color:${color} !important; margin-right: 3px`
      hx-trigger="dblclick"
      hx-post="/api/botmasters"
      hx-sync="[name='guild']"
      hx-vals=`{"mode": "remove", "role": "${btoa(JSON.stringify({id: role.id}))}"}`
      hx-include="#guildId"
      hx-swap="none"
    )= role.name
