extends ../index

block content
  article#content(style="position:relative", hx-indicator=".htmx-indicator")
    .htmx-indicator(aria-busy="true" style="top: 2rem; right: 2rem; position:absolute")

    h1
      - const guildImage = guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png` : '/assets/discordicon.jpeg'
      img(src=guildImage alt='server profile picture' style="margin-right: 10px; border-radius: 50px")
      = "Settings for " + guild.name
    input#guildId(hidden name="guild" value=guild.id)

    //- Bot Master Roles
    section.grid
      div#masterRoles
        h4(title='double click role to remove') Current Bot Master Roles
        span(
          hx-trigger="load, getmasters from:body"
          hx-get=`/x/botmasters/${guild.id}`
        )
          article(aria-busy="true")

      form(
        hx-post="/api/botmasters"
        hx-vals=`{"mode": "add", "guild": "${guild.id}"}`
        hx-swap="none"
      )
        h4 Add New Bot Master Role
        label(hidden for='role') Server Roles
        select#role(name='role' style='text-overflow: ellipsis;')
          option(value='' disabled='' selected='') Select a role to add...
          each role in roles
            -
              let color = '#' + (role.color == 0 ? 16777215 : role.color).toString(16)
              let simpleRole = {id : role.id, color: role.color, name: role.name }
            option(value=btoa(JSON.stringify(simpleRole)) style=`color:${color};`)= role.name
        button(type="submit") Add Role

    hr

    //- New Reaction Role Messages
    section
      h4(title='double click role to remove') Add Reaction Role Message
    form#reactionMessageForm
      .grid
        div
          label(for='channel') Text Channel
          select#channel(name='channel')
            option(value='' disabled='' selected='') Please select a channel...
            each channel in channels
              option(value=channel.id)
                div(style='text-overflow: ellipsis;')= channel.name
        div
          label(for='message') Message
          textarea#message(name='message' aria-describedby='message-desc')
            | React to this message to get your roles!
          small#message-desc
            | What your members will see and react to.
      hr
      div
        .grid
          label Reactions &amp; Roles
          button.secondary(
            type="button"
            onclick='setupPicker()'
          ) Add Reaction
        #reaction-roles(name='reaction-roles')

          //- .grid
          //-   input(type='text' name='firstname' placeholder='First name' aria-label='First name')
          //-   input(type='email' name='email' placeholder='Email address' aria-label='Email address')
          //-   button(type='submit') Subscribe

      div
        input(
          type='button'
          value="Create Reaction Role Message"
          onclick="createReactionMessage()"
        )
    hr

    //- Existing Reaction Role Messages
    if reactionMessages.length != 0
      section
        h4 Existing Reaction Role Message
        .grid
          each rrm in reactionMessages
            article
              hgroup
                h4= `Channel: ${rrm.channelName}`
                i= `- ${rrm.messageAuthor}`
                | 
              details
                summary= rrm.messageContent.substring(0, 30) + '...'
                p= rrm.messageContent
              ul.grid
                each role in rrm.roles
                  - let color = '#' + (role.color == 0 ? 16777215 : role.color).toString(16)
                  li(data-role-id=role.id style=`color: ${color}`)= role.name
              footer
                .grid
                  a.contrast(
                    role="button"
                    target="_blank"
                    href=`https://discord.com/channels/${rrm.guildId}/${rrm.channelId}/${rrm.messageId}`
                  ) Open
