extends ../index

block content
  article#content
    h2 Select Guild to Configure
    table
      thead: tr
        th(scope='col') Picture
        th(scope='col') Server
        th(scope='col') Permissions
        th(scope='col')
      tbody
        each g in guilds
          tr
            td
              img(src=`https://cdn.discordapp.com/icons/${g.id}/${g.icon}.png`)
            td(title=g.id)= g.name
            td= g.canManage ? 'You are an Admin' : 'Missing permissions'
            th(scope='row'): button.contrast(
              class={'bg-red': !g.canManage} title=g.canManage ? '' : 'You cannot manage this server'
              click='$store.appState.switchGuild(g)'
              hx-get=`/x/manageGuild/${g.id}`
              hx-push-url=`/x/manageGuild/${g.id}`
              hx-target=".container"
              ) Set Active
