//- Allows HTMX requests to get fragments, and for direct urls to generate pages
if isHTMX
  block content
else
  head
    title Postie the Bot
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
    link(href='https://cdn.jsdelivr.net/npm/tachyons@4.12.0/css/tachyons.min.css' rel='stylesheet')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css')
    link(rel='shortcut icon' type='image/png' href='/favicon.ico')
    link(rel='stylesheet' href='/styles.css')
    script(src='https://cdn.jsdelivr.net/npm/htmx.org@1.9.6')
    script(src='https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js')
    script(type='module' src='/emoji.js')
    script(type='text/javascript' src='/index.js')
  nav.container-fluid
    ul
      li: svg.pointer(style='width: 2rem' data-icon='grid' viewbox='0 0 32 32' hx-get='/x/pickGuild' hx-push-url="/x/pickGuild" hx-target='.container')
        title Select Server to Configure
        path(d='M2 2 L10 2 L10 10 L2 10z M12 2 L20 2 L20 10 L12 10z M22 2 L30 2 L30 10 L22 10z M2 12 L10 12 L10 20 L2 20z M12 12 L20 12 L20 20 L12 20z M22 12 L30 12 L30 20 L22 20z M2 22 L10 22 L10 30 L2 30z M12 22 L20 22 L20 30 L12 30z M22 22 L30 22 L30 30 L22 30z')
      li: nav(aria-label='breadcrumb')
        ul(style="margin: 0px")
          li: a(href='/') Home
    ul
      li: div
        a.secondary#loginout(role='button' aria-busy="true" style="min-width: 100px")
        li: img#avatar(hidden src="/assets/discordicon.jpeg" alt='discord profile picture' style="border-radius: 50px;")
  body.flex-wrapper
    main.container
      block content
        .discordlogo(style='width: 250px; height: 75px; margin: auto')
        br
        article.grid
          div(style='text-align: center;')
            br
            br
            h2 Postie is anticipating your invite!
            br
            hgroup
              h3 Don&apos;t have Postie Yet?
              b Just click this link to invite him
            a.contrast.outline(href='/auth/invite' role='button') Let&apos;s Go!
    footer.container-fluid(style='text-align: center;')
      a(href="https://sethp.cc")= 'Setherizor - ' + new Date().getFullYear()
