html,
body {
  height: 100vh;
}

nav,
footer {
  background: #2c2f33;
}

.pointer {
  cursor: pointer;
}

:root {
  --spacing: 0.5rem;
  --background-color: #7289da !important;
}

body {
  background-image: url(/assets/bg3.svg);
  background-size: 70%;
  background-repeat: initial;
}

.container > article {
  box-shadow: inset 0px 0px 277px 3px #00000078;
  background-image: url(/assets/bg3.svg);
  background-size: 12%;
  background-repeat: initial;
}

.discordlogo {
  background-image: url(/assets/192cb9459cbc0f9e73e2591b700f1857.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}

img {
  width: 3rem;
}

a {
  color: initial;
  text-decoration: none;
}

/* Loading indicator */
.htmx-indicator {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator {
  opacity: 1;
}
.htmx-request.htmx-indicator {
  opacity: 1;
}

.bg-red {
  background-color: #bf3d3d;
}

em-emoji-picker {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* textarea {
  resize: vertical;
} */

@font-face {
  font-family: Whitney;
  font-style: light;
  font-weight: 300;
  src: url(/assets/16801bfdf51ed88e69bc90626a3ea436.woff) format('woff');
}

@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 500;
  src: url(/assets/d153359b5d87601d2b9c708b7ae2db02.woff) format('woff');
}

@font-face {
  font-family: Whitney;
  font-style: medium;
  font-weight: 600;
  src: url(/assets/a934ab008c7f6a2274ec441f6be0696a.woff) format('woff');
}

@font-face {
  font-family: Whitney;
  font-style: semibold;
  font-weight: 650;
  src: url(/assets/877ef48bf9fcfee590f0ba64de101b59.woff) format('woff');
}

@font-face {
  font-family: Whitney;
  font-style: bold;
  font-weight: 700;
  src: url(/assets/2e004dd717cdc58b9ccb361d286ebbce.woff) format('woff');
}

* {
  font-family: 'Whitney', sans-serif;
  font-smooth: auto;
}

/* Footer Stickyness */
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

footer {
  margin-top: auto;
}
